# editorconfig.org

# Top-most EditdorConfig file
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.bat]
charset = utf-8-bom
end_of_line = crlf

[*.sh]
end_of_line = lf

[{Makefile*,*.mk,*.nmake}]
indent_size = 4
indent_style = tab

[*.{markdown,md}]
trim_trailing_whitespace = false
