
* text=auto

# Git
.gitattributes  text
.gitignore      text
.gitconfig      text
.gitmodules     text

# Sources
*.c   text diff=cpp
*.cc  text diff=cpp
*.c++ text diff=cpp
*.cpp text diff=cpp
*.cxx text diff=cpp
*.h   text diff=cpp
*.hh  text diff=cpp
*.h++ text diff=cpp
*.hpp text diff=cpp
*.hxx text diff=cpp

# Compiled Object files
*.slo binary
*.lo  binary
*.o   binary
*.obj binary

# Precompiled Headers
*.gch binary
*.pch binary

# Compiled Dynamic libraries
*.so    binary
*.dylib binary
*.dll   binary

# Compiled Static libraries
*.a   binary
*.lib binary

# Executables
*.exe binary
*.out binary
*.app binary

# Makefiles
Makefile* text
*.nmake   text eol=crlf

# Windows Scripts
*.bat text eol=crlf
*.vbs text eol=crlf

# Unix Scripts
*.sh  text eol=lf

# Others
*.txt       text
*.md        text
*.markdown  text
README      text
LICENSE     text
AUTHORS     text
NEWS        text
COPYRIGHT   text
INSTALL     text
